<!-- CONTACT + MAPS
================================= -->
<section id="contact-maps" class="contact-maps-section section">

  <div class="container">
    <div class="contact-maps-row row">
      <div class="col-md-10 col-md-offset-1">

        <div class="contact-maps-box" data-animation="fadeIn">

          <h2 class="section-heading">Contact Us</h2>

          <form name="contact" action="//formspree.io/kyle@drawattention.co" method="post" class="form form-ajax-submit">
            <div class="form-validation alert"></div>
            <div class="form-group">
              <input type="text" name="contact-name" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" name="contact-email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="text" name="contact-subject" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group">
              <textarea name="contact-message" class="form-control" placeholder="Message" rows="5"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Send Message</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</section>

<!-- CLOSING
================================= -->
<section id="closing" class="closing-section section-dark section">

  <div class="section-background">

    <!-- IMAGE BACKGROUND -->
    <div class="section-background-image parallax" data-stellar-ratio="0.4">
      <img src="/images/backgrounds/closing-bg.jpg" alt="" style="opacity: 0.2;">
    </div>

  </div>

  <div class="container">

    <h3 class="closing-shout">Having second thoughts about a shirt?</h3>

    <div class="closing-buttons" data-animation="tada">
      <a href="https://shop.trycelery.com/page/55a95a31a48da40300b56acc" data-celery="55a95a31a48da40300b56acc" data-celery-version="v2" class="btn btn-lg btn-primary">Buy one today</a>
    </div>

  </div>

</section>


<!-- FOOTER -->
<footer id="footer" class="footer-section section">

  <div class="container">
    <div class="col-md-4">
      <h3 class="footer-logo">
        <img src="/images/logos/footer-logo.png" srcset="/images/logos/footer-logo@2x.png 2x" alt="Bootstrap Denton">
      </h3>
    </div>

    <div class="col-md-4">
      <div class="footer-socmed">
        <a href="mailto:{{ site.email }}">
          <span class="icon fa fa-paper-plane"></span>
        </a>
        {% if site.facebook_username %}
        <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
          <span class="icon fa fa-facebook"></span>
        </a>
        {% endif %}
        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="icon fa fa-twitter"></span>
        </a>
        {% endif %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="icon fa fa-rss"></span>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <p class="text">{{ site.description }}</p>
      <div class="footer-copyright">
        &copy; 2015 OpenCoffeeClub.co
      </div>
    </div>

  </div>

</footer>
